input[type="submit"]{
    -webkit-appearance: none;
    border-radius: 0px;
}

*{
    margin: 0;
}

header{
    background-color: #fda7a7;
    display: flex;
    position: relative;
}

header h1{
    margin-left: 10px;
    display: inline;

}

header p{
    padding-right: 10px;
    padding-top: 12px;
    display: inline;
    position: absolute;
    right: 0;
}

nav{
    background-color: #ebbaae;
    height: 20px;
    display: flex;
    position: relative;
}

.make{
    position: absolute;
    left: 0;
    height: 20px;
    width: 130px;
    color: #ffffff;
    background: #000000;
    border-color: #000;
}

.log_out{
    position: absolute;
    right: 0;
    height: 20px;
    width: 95px;
    color: #ffffff;
    background: #000000;
    border-color: #000;
}

main{
    padding: 20px 10px;
    background-color: #f8e8d3;
}

.one_schedule{
    background-color: #e4c8c8a4;
    margin: 5px;
    padding-bottom: 5px;
}

.one_schedule{
    padding-left: 5px;
}

.one_schedule p{
    text-align: center;
}

.today{
    text-align: center;
}

.login{
    display: block;
    text-align: center;
    padding: 30px 0 20px 0;
}

.user_name{
    position: relative;
    width: 35%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.user_pass{
    position: relative;
    width: 35%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.log_new{
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    border-style: none;
}

.new_user_info{
    padding: 20px 0;
}

.new_name{
    display: inline-block;
    position: relative;
    width: 50%;
}

.new_pass{
    display: inline-block;
    position: relative;
    width: 50%;
}

.login .form_textbox{
    padding: 30px 0;
}

footer{
    background-color: #e48a35b6;
    font-size: 8px;
    text-align: center;
    padding: 15px 0;  
}
