input[type="submit"]{
    -webkit-appearance: none;
    border-radius: 0px;
}

*{
    margin: 0;
    /* background-color: #f8e8d3; */
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #fda7a7;
    display: flex;
    position: relative;
}

header input{
    display: inline-block;
    text-align: left;
    font-size: 38px;
    padding: none;
    margin: none;
    background-color: #fda7a7;
    border: none;
}

header p{
    padding-right: 10px;
    padding-top: 12px;
    display: inline-block;
    position: absolute;
    right: 0;
}

nav{
    background-color: #ebbaae;
    height: 23px;
    display: flex;
    position: relative;
}

.make{
    position: absolute;
    left: 0;
    height: 23px;
    width: 130px;
    color: #ffffff;
    background: #000000;
    border-color: #000;
}

.return_home{
    position: absolute;
    left: 0;
    height: 23px;
    width: 130px;
    color: #ffffff;
    background: #000000;
    border-color: #000;
}

.log_out{
    position: absolute;
    right: 0;
    height: 23px;
    width: 95px;
    color: #ffffff;
    background: #000000;
    border-color: #000;
}

main{
    padding: 20px 10px;
    background-color: #f8e8d3;
    flex: 1;
}

.sche_output{
    display: flex;
}

.one_schedule{
    background-color: #e4c8c8a4;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    width: 90%;
    display: inline-block;
}

.first{
    padding-left: 5px;
}

.end{
    text-align: right;
    padding-right: 5px;
}

.one_schedule p{
    text-align: center;
}

.edit{
    background-color: #e6b9b9a4;
    margin: 10px 0px;
    padding: 5px;
    display: inline-block;
}

.edit input{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #e6b9b9a4;
    font-size: 15px;
    text-align: center;
}

.edit_home{
    width: 100%;
}

.edit_title{
    background-color: #e6b9b9a4;
    text-align: center;
}

.edit_one_schedule{
    background-color: #e4c8c8a4;
    margin: 10px 0;
    width: 100%;
    display: inline-block;
}

.edit_one_schedule p{
    text-align: center;
}

.edit_submit{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.edit_decision{
    display: inline-block;
    font: 15px/24px sans-serif;
    text-align: center;
    width: 45%;
	box-sizing: border-box;
	padding: 20px 5px;
	transition: 0.3s;
    letter-spacing: 1px;
    background-color: #000;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.edit_delete{
    display: inline-block;
    font: 15px/24px sans-serif;
    text-align: center;
    width: 25%;
	box-sizing: border-box;
	padding: 20px 5px;
	transition: 0.3s;
    letter-spacing: 1px;
    background-color: #000;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.No_Schedule{
    text-align: center;
    margin: 60px 0;
}

.No_Schedule input{
    width: 45%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 20px 5px;
	transition: 0.3s;
    letter-spacing: 1px;
    background-color: #000;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.sche_make{
    margin: 60px 0;
}

.sche_make h4{
    text-align: center;
    padding-bottom: 10px; 
    color: red;
}

.sche_name {
    display: block;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.sche_btns{
    text-align: center;
}

.decision {
    display: inline-block;
    font: 15px/24px sans-serif;
    text-align: center;
    width: 45%;
	box-sizing: border-box;
	padding: 20px 5px;
	transition: 0.3s;
    letter-spacing: 1px;
    background-color: #000;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.add_sche{
    display: inline-block;
    font: 15px/24px sans-serif;
    text-align: center;
    width: 45%;
	box-sizing: border-box;
	padding: 20px 5px;
	transition: 0.3s;
    letter-spacing: 1px;
    background-color: #000;
    color: rgb(255, 255, 255);
    margin-top: 20px; 
}

.time_set{
    text-align: center;
    
}

.time_set input{
    width: 30px;
    display: inline-block;
}

.time_set p{
    display: inline-block;
}

.day_time{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    position: relative;
}

.day_time input{
    display: block;
    margin: auto;
    border: none;
    font-size: 23px;
    background: #eddeca;
    font-weight: bolder;
}

.today{
    display: block;
    margin: auto;
    
}

.login{
    display: block;
    text-align: center;
    padding: 30px 0 20px 0;
}

.user_name{
    position: relative;
    width: 35%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.user_pass{
    position: relative;
    width: 35%;
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.log_new{
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
    border-style: none;
}

.new_user_info{
    padding: 20px 0;
}

.new_name{
    display: inline-block;
    position: relative;
    width: 50%;
}

.new_pass{
    display: inline-block;
    position: relative;
    width: 50%;
}

.login .form_textbox{
    padding: 30px 0;
}

footer{
    display: inline-block;
    background-color: #e48a35b6;
    font-size: 8px;
    text-align: center;
    padding: 15px 0; 
    
    margin-top: auto;
}
